@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/homepage.css"/>
    <script src="https://kit.fontawesome.com/4388d4332e.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost&display=swap" rel="stylesheet">
    <link rel="stylesheet" href=~/css/owl.carousel.min.css/>
    <link rel="stylesheet" href="~/css/owl.theme.default.min.css"/>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/homepage.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
</head>
<body>
    <section class="welcome-container">
        <div class="welcome-container-main">
            <div class="container-fluid">
                <div>
                    <h1 class="welcome-head">Welcome to GRABB</h1>
                    <p class="welcome-text">
                        At GRABB, we believe there is a better way to do business in this evolving digitized<br />
                        world by building an automated digital ecosystem. The integration of business-to-<br />
                        business (B2B) practices, enterprise applications and data within an ecosystem<br />
                        allows an organization to control new and old technologies, by building an<br />
                        automated processes around them and consistently grow their business.
                    </p>
                    <p class="welcome-text">
                        Information Technology and business are becoming inextricably interwoven. And<br />
                        that's our vision is to build an automated digital ecosystem which leverage the<br />
                        operational effort. We are obsessively passionate about it, and our mission is about<br />
                        the integration of digital technology into all areas of a business, fundamentally<br />
                        changing how to operate and deliver value to customers and become success.
                    </p>
                    <button class="btn about-companu">About TECHMOS</button>
                </div>
            </div>
        </div>
    </section>
    <section classs="home-page-container">
        <div class="home-page-service-inner-container">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6 col-lg-6 col-xl-6 col-sm-12 col-12">
                        <div>
                            <p class="welcome-grabb-text">WELCOME TO TECHMOS</p>
                            <h1>We offer following<br />
                                Services
                            </h1>
                            <div class="service-content-list">
                                <ul>
                                    <li>
                                        <img src="~/websiteimg/268-2687989_png-for-gold-star-transparent-background.png" width="20" height="20"/>
                                        Mobile App development
                                    </li>
                                    <li>
                                        <img src="~/websiteimg/268-2687989_png-for-gold-star-transparent-background.png" width="20" height="20"/>
                                        Web App development
                                    </li>
                                    <li>
                                        <img src="~/websiteimg/268-2687989_png-for-gold-star-transparent-background.png" width="20" height="20"/>
                                        Digital Marketing
                                    </li>
                                    <li>
                                        <img src="~/websiteimg/268-2687989_png-for-gold-star-transparent-background.png" width="20" height="20"/>
                                        Artificial Intelligence
                                    </li>
                                    <li>
                                        <img src="~/websiteimg/268-2687989_png-for-gold-star-transparent-background.png" width="20" height="20"/>
                                        Data Science & Analytics
                                    </li>
                                    <li>
                                        <img src="~/websiteimg/268-2687989_png-for-gold-star-transparent-background.png" width="20" height="20"/>
                                        Robotics Process Automation
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6 col-xl-6 col-sm-12 col-12">
                        <div class="row ">
                            <div class="col-md-4 col-lg-4 col-xl-4 col-sm-4 col-4 summa">
                            sbjfdskbkfj
                        </div>
                        <div class="col-md-4 col-lg-4 col-xl-4 col-sm-4 col-4 summa">
                            sbjfdskbkfj
                        </div>
                        <div class="col-md-4 col-lg-4 col-xl-4 col-sm-4 col-4 summa">
                            sbjfdskbkfj
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="our-services">
            <div class="container-fluied">
                <div class="row mb-5">
                    <div class="col-md-4 col-lg-4 col-xl-4 col-sm-12 col-12">
                        <div class="card">
                              <img class="card-img-top" src="..." alt="Card image cap">
                              <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                              </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4 col-xl-4 col-sm-12 col-12">
                        <div class="card">
                              <img class="card-img-top" src="..." alt="Card image cap">
                              <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                              </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4 col-xl-4 col-sm-12 col-12">
                        <div class="card">
                              <img class="card-img-top" src="..." alt="Card image cap">
                              <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                              </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-lg-4 col-xl-4 col-sm-12 col-12">
                        <div class="card">
                              <img class="card-img-top" src="..." alt="Card image cap">
                              <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                              </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4 col-xl-4 col-sm-12 col-12">
                        <div class="card">
                              <img class="card-img-top" src="..." alt="Card image cap">
                              <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                              </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4 col-xl-4 col-sm-12 col-12">
                        <div class="card">
                              <img class="card-img-top" src="..." alt="Card image cap">
                              <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                              </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="team-member">
            <div class="container-fluid">
                <div class="row mb-5">
                    <div class="col-md-3 col-lg-3 col-xl-3 col-sm-12 col-12">
                        <div class="memner-inner-container">
                            <div class="team-member-img"></div>
                        </div>
                    </div>
                    <div class="col-md-3 col-lg-3 col-xl-3 col-sm-12 col-12">
                        <div class="memner-inner-container">
                            <div class="team-member-img"></div>
                        </div>
                    </div>
                    <div class="col-md-3 col-lg-3 col-xl-3 col-sm-12 col-12">
                        <div class="memner-inner-container">
                            <div class="team-member-img"></div>
                        </div>
                    </div>
                    <div class="col-md-3 col-lg-3 col-xl-3 col-sm-12 col-12">
                        <div class="memner-inner-container">
                            <div class="team-member-img"></div>
                        </div>
                    </div>
                </div>
                <div class="row team-member-2">
                    <div class="col-md-3 col-lg-3 col-xl-3 col-sm-12 col-12">
                        <div class="memner-inner-container">
                            <div class="team-member-img"></div>
                        </div>
                    </div>
                    <div class="col-md-3 col-lg-3 col-xl-3 col-sm-12 col-12">
                        <div class="memner-inner-container">
                            <div class="team-member-img"></div>
                        </div>
                    </div>
                    <div class="col-md-3 col-lg-3 col-xl-3 col-sm-12 col-12">
                        <div class="memner-inner-container">
                            <div >
                                <div class="team-member-img"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>
